<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
  <body class="login-body">
    <% if (typeof user === 'undefined') { %>
      <%- include('./partials/header') %>
    <% } else { %>
      <%- include('./partials/headerLoggedIn') %>
    <% } %>

      <main class="login">
        <div class="wrapper">
          <div class="login_container">
            <ul class="errores" id="errores"></ul>
            <h2 class="titulo-login">Iniciar sesi칩n</h2>

        <form action="/login/process" method="POST" class="login-form">
          <label for="email" class="field">Correo electr칩nico
            <input type="text" name="email" id="email" class="input-text" value="<%= locals.old && old.email ? old.email : ''%>">
          </label>

          <% if (locals.errores){ %>

              
                  <% for (let i in errores){ %>
                      <% if (errores[i].path === 'email'){%>
                          <h3 class="mensajeDeError"> <%= errores[i].msg %></h3>
                      <% } %>
                  <% } %>
          <% } %>

          <label for="password" class="field">Contrase침a
            <input type="password" name="password" id="password" class="input-text">
          </label>

          <% if (locals.errores){ %>

            
                <% for (let i in errores){ %>
                    <% if (errores[i].path === 'password'){%>
                        <h3 class="mensajeDeError"> <%= errores[i].msg %></h3>
                    <% } %>
                <% } %>
            
          <% } %>

              <div class="field-checkbox">
                <input type="checkbox" name="recordame" id="recordame">
                <label for="recordame" id="recordame-label"  class="field-checkbox"> Mantener sesi칩n iniciada</label>
              </div>

              <button type="submit" class="button" id="login-btn">Ingresar</button>
              <!-- <div class="login-bottom">
              </div> -->
            </form>
          </div>
        </div>

      </main>

    <%- include('./partials/footer') %>
    <script src="/js/login.js"></script>
  </body>
</html>
